.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(75, 88, 203);
    font-size: 18px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: blue;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: antiquewhite;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid turquoise;
}

.navbar li{
    cursor: pointer;
}