.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    font-family: Outfit;
    padding: 10px 12px;
    overflow-x: hidden;
    padding: 15px;
    background-color: aliceblue;
}

.logo{
    height: 50px;
    width: 120px;
}

.nameFormat{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.in-cube{
    background: #d4a373;
    border-radius: 15px;
    padding: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}