.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: black;
    padding: 20px;
}

.navbar{
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.navbar a{
    text-decoration: none;
    color: #000;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.navbar a:hover{
    color: #706f6f;
}

.navbar svg{
    margin-right: 0.5rem;
}
